pytorch_lightning==1.9.0

#deepspeed==0.9.0
#torch==1.13.1

deepspeed==0.10.0
#torch>=2.1.0 # nightly version at:
# pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu118
# pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu121

wandb
tokenmonster

# sửa lỗi
pydantic>=1.10.0,<2.0.0 # https://stackoverflow.com/questions/76629079/pydanticusererror-a-non-annotated-attribute-was-detected-in-airflow-db-init-com
# dùng trong retnet
torchscale@git+https://github.com/microsoft/torchscale@ea07735c7be6c6b2e92e2d45527135b103ac4774
einops # dùng trong nhân ma trận cánh bướm
